/.idea/**
/.idea/workspace.xml
/.idea/gitlab-quickmr.xml

/.bsp/
/.gradle/
/*/target/**

/*/build/
/bin/**
/out/
/target
/output/
/target-/
/elijah-core/bin/**
/build

/lib/**

/elijah-core/COMP/**
/COMP/**
/COMP*/
